.home-container{
    margin-top:40px;
    
}

.homebar{
    
    margin-left:40px;
    margin-top:10px;
    padding-top:-10px;
}
.separator{
    border: none; /* Remove default border */
    height: 2px; /* Thickness of the line */
    background-color: black; /* Line color */
    margin-left: 40px; /* Remove default margin */
    margin-right:40px;
}
.submit-button3{
    margin-left:1210px;
    width:150px;
    height:40px;
    border-radius:200px;
    cursor:pointer;
    background-color: black;
    color:white;
}
.introwords{
    margin-left:40px;
    margin-top:40px;
    padding:-5px;
    
}
.contents{
    display: flex;
      justify-content: space-between; /* Adjust spacing */
      align-items: center;          /* Vertically align items */
      gap: 70px;
      flex: 1;                      /* Makes each box equal in width */
      padding: 20px;
      margin-left:40px;
      margin-right:40px;
      margin-top:50px;     
}
.contents1{
    background-color: #f0f0f0;
    height:200px;
    padding:20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius:30px;
    transition: background-color 0.3s, transform 0.3s; 
}
.contents1:hover {
    background-color: white; /* Change color on hover */
    transform: scale(1.1);
}
.contents2{
    background-color: #f0f0f0;
    height:200px;
    padding:20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius:30px;
    transition: background-color 0.3s, transform 0.3s; 
}
.contents2:hover {
    background-color: white; /* Change color on hover */
    transform: scale(1.1);
}
.contents3{
    
    background-color: #f0f0f0;
    height:200px;
    padding:20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius:30px;
    transition: background-color 0.3s, transform 0.3s;
}
.contents3:hover {
    background-color: white; /* Change color on hover */
    transform: scale(1.1);
}
span{
    display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      color: black;
      text-align: center;
      line-height: 40px;
      font-size: 18px;
      font-weight: bold;
      border: 2px solid black;
}