body {
  background-color: lightgray;
}

.testscreen {
  margin-top: 130px;
  margin-left: 20px;
  margin-right: 20px;
}

.testscreen h1 {
  text-align: center;
  margin-bottom: 30px;
}

.back-button {
  margin-top: 90px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: black;
  cursor: pointer;
  color: white;
  margin-left: 45px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.back-button:hover {
  background-color: #e0e0e0;
  color: black;
  transform: scale(1.1);
}

@media (max-width: 479px) {
  .testscreen h1 {
    font-size: 25px;
  }
}

@media (max-width: 372px) {
  .testscreen h1 {
   font-size: 23px;
  }
}
