body{
   background-color: lightgray;
}
.testscreen{
   
   margin-top:80px;
   margin-left:400px;
}
.testscreen h1{
    margin-left:300px;
}


.back-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: black;
    cursor: pointer;
    color:white;
    margin-left:-195px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .back-button:hover {
    background-color: #e0e0e0;
    color:black;
    transform: scale(1.1);
  }
  




 